@mixin button-size($padding-x, $padding-y, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin button-style(
  $background,
  $color,
  $hover-background: lighten($background, 10%),
  $hover-color: $color,
  $active-color: darken($background, 10%)
) {
  color: $color;
  background: $background;
  outline: none;
  &:hover {
    background-color: $hover-background;
    color: $hover-color;
  }
  &:active,
  &.active {
    color: $active-color;
    background: $hover-background;
  }
  &.disabled,
  &:disabled {
    color: $color;
    background: $background;
  }
}

@mixin neu-button-style(
  $background,
  $color,
  $hover-background: darken($background, 5%),
  $hover-color: $color,
  $active-background: darken($background, 10%)
) {
  color: $color;
  background: $background;
  outline: none;
  &:hover {
    background-color: $hover-background;
    color: $hover-color;
  }
  &:active,
  &.active {
    // color: $active-color;
    background: $active-background;
  }
  &.disabled,
  &:disabled {
    color: $color;
    background: $background;
  }
}

@mixin neu-button-theme($shadow-size, $shadow-blur, $shadow-color) {
  &:hover {
    border: 1px solid $shadow-color;
    // 注：先不要阴影了 感觉不是很搭，没有立体拟态的效果了
    // box-shadow: $shadow-size-normal * -1 $shadow-size-normal * -1
    //     $shadow-blur-normal var(--neu-light-shadow),
    //   $shadow-size $shadow-size $shadow-blur
    //     // lighten($color: $shadow-color, $amount: 10%);
    //   rgba($color: $shadow-color, $alpha: 1);
    // // box-shadow: 0 0 $shadow-blur * 1.5 rgba($color: $shadow-color, $alpha: 1);
  }
  &:active {
    box-shadow: none;
  }
}
